:root {
    --color-primary: #191d2b;
    --color-secondary: #27ae60;

    --color-white: #ffffff;
    --color-black: #000000;
    --color-grey-1: #4e4e4e;
    --color-grey-1: #a0a0a0;

    --color-homeSection-background: #864e04;
    --color-aboutSection-background: #266402;
    --color-portfolioSection-background: #03275e;
    --color-contactsSection-background: #520230;

    --color-activeButton: #c98900;
    --color-button-section-holder: #017a8a;
    --color-button-section-holder-boxShadow: #00343b;
    --br-sm-2: 14px;

    --color-progressBar-background: rgb(0, 75, 173);

    --default-animation-duration: 0.25s;

    @keyframes scaleAnimation {
        0% {
            transform: translateY(-100%) scaleY(0);
        }

        100% {
            transform: translateY(0) scaleY(1);
        }
    }
}